<%- include('./partials/header') %>

<div class="cart-page">
<% cart.forEach(function(prod) {  %>
    
        <div class="cart-item">
            
            <div class="cart-card">
                <div class="cart-image">
                    <img src="data:image/jpeg;base64,<%=prod.image.toString('base64')  %>" />
                </div>
                
                <div class="cart-info">
                    <h3><%= prod.name %></h3>
                    
                    <div class="qty-wrapper">
                        <button class="qty-btn"><i class="ri-add-line"></i></button>
                        <div class="quantity">1</div>
                        <button class="qty-btn"><i class="ri-subtract-line"></i></button>
                    </div>
                </div>

                <div class="net-total">
                    <h4>Net Total</h4>
                    <h2 class="net">₹999</h2>
                </div>
            </div>
            
            <div class="price-section">
                <div class="price-section">
  <h3>Price Breakdown</h3>

  <div class="row"><span>Total MRP</span><span>₹ 122222</span></div>
  <div class="row"><span>Discount on MRP</span><span>₹ 122</span></div>
  <div class="row"><span>Platform Fee</span><span>₹ 20</span></div>
  <div class="row"><span>Shipping Fee</span><span>FREE</span></div>

  <hr>

  <div class="total">
    <span>Total Amount</span>
    <span>₹ 122100</span>
  </div>
</div>

            </div>
            
        </div>
        
        <% }); %>
    </div>
    
    <%- include('./partials/footer') %>
    